[submodule "ThirdParty/modern-cpp-kafka"]
	path = ThirdParty/modern-cpp-kafka
	url = https://github.com/morganstanley/modern-cpp-kafka.git
[submodule "ThirdParty/CPPFsm"]
	path = ThirdParty/CPPFsm
	url = https://github.com/sumitdhyani/CPPFsm.git
[submodule "ThirdParty/MTTools"]
	path = ThirdParty/MTTools
	url = https://github.com/sumitdhyani/MTTools.git
[submodule "build/ThirdParty/CommonUtils"]
	path = build/ThirdParty/CommonUtils
	url = https://github.com/sumitdhyani/CommonUtils.git
[submodule "ThirdParty/CommonUtils"]
	path = ThirdParty/CommonUtils
	url = https://github.com/sumitdhyani/CommonUtils.git
